<div class="modal-header">
  <h4 class="modal-title">Update Contact</h4>
</div>
<div class="modal-body">
  <form name="ContactForm" class="form-horizontal form-cozy mar-b">
    <div class="form-group">
      <label class="col-sm-4 control-label">First Name</label>
      <div class="col-sm-8">
        <input ng-required="true" name="first_name" ng-model="contact.first_name" type="text"
               class="form-control">
        <div ng-messages="ContactForm.first_name.$error" ng-show="ContactForm.first_name.$touched" role="alert">
          <div ng-message="required">You didn't enter First Name.</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">Last Name</label>
      <div class="col-sm-8">
        <input ng-required="true" name="last_name" ng-model="contact.last_name" type="text"
               class="form-control">
        <div ng-messages="ContactForm.last_name.$error" ng-show="ContactForm.last_name.$touched" role="alert">
          <div ng-message="required">You didn't enter Last Name.</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">Title</label>
      <div class="col-sm-8">
        <input ng-required="true" name="title" ng-model="contact.title" type="text"
               class="form-control">
        <div ng-messages="ContactForm.title.$error" ng-show="ContactForm.title.$touched" role="alert">
          <div ng-message="required">You didn't enter Contact Title.</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">Function</label>
      <div class="col-sm-8">
        <input ng-required="true" name="function" ng-model="contact.function" type="text"
               class="form-control">
        <div ng-messages="ContactForm.function.$error" ng-show="ContactForm.function.$touched" role="alert">
          <div ng-message="required">You didn't enter Function role of Contact.</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">Company</label>
      <div class="col-sm-8">
        <input ng-required="true" name="function" ng-model="contact.company" type="text"
               class="form-control">
        <div ng-messages="ContactForm.company.$error" ng-show="ContactForm.company.$touched" role="alert">
          <div ng-message="required">You didn't enter Company.</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">Vendor</label>
      <div class="col-sm-8">
        <select class="form-control"
                name="vendor_id"
                ng-options="vendor.id as vendor.name for vendor in vendors"
                ng-model="contact.vendor_id"
          >
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">Site ID</label>
      <div class="col-sm-8">
        <select class="form-control"
                name="site_id"
                ng-options="site.id as site.site_id for site in sites"
                ng-model="contact.site_id"
          >
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">Email</label>
      <div class="col-sm-8">
        <input ng-required="true" name="email" type="email" class="form-control" ng-model="contact.email">
        <div ng-messages="ContactForm.email.$error" ng-show="ContactForm.email.$touched" role="alert">
          <div ng-message="required">You didn't enter valid email.</div>
          <div ng-message="email">You didn't enter valid email.</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">Office Phone Number</label>
      <div class="col-sm-8">
        <input ng-required="false" name="office_phone" type="text" class="form-control"
               ng-model="contact.office_phone">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">Mobile Number</label>
      <div class="col-sm-8">
        <input ng-required="false" name="mobile_number" type="text" class="form-control"
               ng-model="contact.mobile_number">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">Address 1</label>
      <div class="col-sm-8">
        <input ng-required="true" name="address1" type="text" class="form-control"
               ng-model="contact.address1">
        <div ng-messages="ContactForm.address1.$error" ng-show="ContactForm.address1.$touched" role="alert">
          <div ng-message="required">Please provide Address 1.</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">Address 2</label>
      <div class="col-sm-8">
        <input ng-required="false" name="address2" type="text" class="form-control"
               ng-model="contact.address2">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label">Address 3</label>
      <div class="col-sm-8">
        <input ng-required="false" name="address3" type="text" class="form-control"
               ng-model="contact.address3">
      </div>
    </div>


    <div class="form-group">
      <label class="col-sm-4 control-label">City, State, Zip</label>
      <div class="col-sm-3">
        <input ng-required="true" placeholder="City" name="city" type="text" class="form-control"
               ng-model="contact.city">
        <div ng-messages="ContactForm.city.$error" ng-show="ContactForm.city.$touched" role="alert">
          <div ng-message="required">Required</div>
        </div>
      </div>
      <div class="col-sm-2">
        <input ng-required="true" placeholder="State" name="state" type="text" class="form-control"
               ng-model="contact.state">
        <div ng-messages="ContactForm.state.$error" ng-show="ContactForm.state.$touched" role="alert">
          <div ng-message="required">Required</div>
        </div>
      </div>
      <div class="col-sm-3">
        <input ng-required="true" placeholder="Zip" name="zip" type="text" class="form-control"
               ng-model="contact.zip">
        <div ng-messages="ContactForm.zip.$error" ng-show="ContactForm.zip.$touched" role="alert">
          <div ng-message="required">Required</div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="update(ContactForm)">Update</button>
  <button class="btn btn-link" type="button" ng-click="cancel()">Cancel</button>
</div>
